<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <% characters.forEach((character)=> { %>
        <div class="main-character-container">
            <div class="images-container">
                <div class="image-selector">
                    <% character.upscaledImageUrls.forEach((url)=> { %>
                        <img src="<%= url %>" onclick="selectImage('<%= character.id %>', '<%= url %>')"
                            class="<%= url === character.chosenImageUrl ? 'selected' : '' %>">
                        <% }); %>
                </div>
            </div>
            <div class="text-container">
                <h1>
                    <%= character.characterName %>
                </h1>
                <p>
                    <%= character.characterBackstory %>
                </p>
                <button onclick="updateCharacter('<%= character.id %>')">Update Character</button>
            </div>
        </div>

        <% }); %>
            <script src="/script.js"></script>
</body>

</html>
